
 <h3>Autor: Francisco Javier Granja</h3>
 
<IMG SRC="/images/foto.jpg" WIDTH=158 HEIGHT=160 BORDER=2 ALT="mi foto" align=left>

 
    <video width="168" height="170" align=right controls preload autoplay >
      <source src="/images/CuadricopterM.m4v" type=video/mp4>
      <source src="/images/CuadricopterM.webm" type=video/webm>
    </video>
