    <% if (autor==='0') { %>
         <a href="http://es.wikipedia.org/wiki/Quiz">
          &iquestQu&eacute es un Quiz?
         </a>
      <% } %>
    <% if (autor==='1') { %>
        <a href="https://github.com/javier-granja/Quiz-JG2015.git">
            Mi proyecto Quiz
        </a>
      <% } %> 
