      <% if (respuesta==='Incorrecto') { %>
      <h2><font color="red"><%= respuesta  %></font></h2>
      <% } %>
      <% if (respuesta==='Correcto') { %>
      <h2><%= respuesta  %></h2>
      <% } %>
      <a href="/quizes/<%= quiz.id %>"> Volver </a>
