<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>

    <h2>Quiz: el juego de las preguntas</h2>
      <p>Pregunta: <%= pregunta %></p> 
        <form method="get" action="/quizes/answer">
         <input type="text" name="respuesta" value="Responda aquí"/>
         <input type="submit" value="Enviar"/>
        </form>  
  </body>
</html>
