        <p>Pregunta: <%= pregunta %></p> 
        <form method="get" action="/quizes/answer" accept-charset="UTF-8">
         <input type="text" name="respuesta" value="Responda aqu&iacute"/>
         <input type="submit" value="Enviar"/>
        </form>  
       
