     <p>Pregunta: <%= quiz.pregunta %></p> 
        <form method="get" action="/quizes/<%= quiz.id %>/answer" accept-charset="UTF-8">
         <input type="text" name="respuesta" value="Responda aqu&iacute;"/>
         <input type="submit" value="Enviar"/>
        </form> 
     <p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a> </p>
     <p><strong>Comentarios:</strong></p>
     <%for(index in quiz.comments){%>
     	<p>-<%=quiz.comments[index].texto%></p>
     <%}%>
